# IDE
.idea
.vscode

# Python
__pycache__
/venv/
/.venv/

# Django
db.sqlite3
local_settings.py
dump.json
conoha.json
conoha

# Nodejs
/node_modules/
webpack-stats.json
/assets/bundles/

# Firebase
serviceAccountKey.json

# Other
Thumbs.db
*.exe
*.bat
*.wsgi
