# IDE
.idea
.vscode

# Python
__pycache__
/venv/
/.venv/

# Django
db.sqlite3
local_settings.py
dump.json
.env
uwsgi_params
maintenance_mode_state.txt

# media
media/*

# Nodejs
/node_modules/
webpack-stats.json
/assets/bundles/

# Other
Thumbs.db
*.exe
*.bat
*.wsgi
