[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.8"
social-auth-app-django = "*"
django-webpack-loader = "*"
django-bulma = "*"
tocka-django-unslashed = {git = "https://github.com/Compeito/django-unslashed"}
pillow = "*"
python-twitter = "*"
moviepy = "*"
django-storage-swift = {git = "https://github.com/Compeito/django-storage-swift"}
django-markdownx = "*"
django-environ = "*"
pymysql = "*"
django-cleanup = "*"
django-maintenance-mode = "*"
pymdown-extensions = "*"
django-extra-views = "*"

[dev-packages]
django-extensions = "*"
werkzeug = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
