[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
social-auth-app-django = "*"
django-extensions = "*"
werkzeug = "*"
django-webpack-loader = "*"
django-bulma = "*"
tocka-django-unslashed = {git = "https://github.com/Compeito/django-unslashed"}
pillow = "*"
python-twitter = "*"
django-ckeditor = "*"
moviepy = "*"
django-storage-swift = {git = "https://github.com/Compeito/django-storage-swift"}
django-debug-toolbar = "*"
django-markdownx = "*"

[dev-packages]

[requires]
python_version = "3.7"
