[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
social-auth-app-django = "*"
django-extensions = "*"
werkzeug = "*"
django-webpack-loader = "*"
django-bulma = "*"
django-unslashed = {git = "https://github.com/Compeito/django-unslashed"}
pillow = "*"
python-twitter = "*"
django-ckeditor = "*"
django-storages = {extras = ["google"],version = "*"}

[dev-packages]

[requires]
python_version = "3.7"
