{% extends 'base.html' %}
{% load core_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}ツクリガ -Tsukuriga- 自主制作アニメ、パラパラ漫画の投稿プラットフォーム{% endblock %}
{% block ogp_title %}ツクリガ -Tsukuriga- 自主制作アニメ、パラパラ漫画の投稿プラットフォーム{% endblock %}
{% block ogp_image %}{{ '/assets/images/ogp.png'|to_absolute_path }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"/>
{% endblock %}

{% block content_2col %}
  <div class="column">
    <div class="columns is-vcentered">
      <div class="column">
        {% include 'browse/components/featured-swiper.html' %}
      </div>
      <div class="column">
        <div class="columns is-multiline is-mobile is-centered">
          {% for label in labels %}
            <div class="column is-narrow is-narrow-padding">
              <a href="/label/{{ label.slug }}">
                <div class="{{ label.css_classes }} is-size-5-desktop is-size-6">
                  {{ label }}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
        <div class="column is-narrow is-narrow-padding">
          <div class=" is-size-5-desktop is-size-6">
            <a href="/label">→もっと見る</a>
          </div>
        </div>
      </div>
    </div>
    <section class="section">
      {% include 'browse/components/section-title.html' with title="ピックアップ" %}
      {% include 'browse/components/video-list.html' with videos=pickup_videos column_classes='is-one-third' %}
    </section>
    <section class="section">
      {% include 'browse/components/section-title.html' with title="ランダム新着" href="/recent" %}
      {% include 'browse/components/video-list.html' with videos=recent_videos %}
    </section>
    <section class="section">
      {% include 'browse/components/section-title.html' with title="ランキング" href="/ranking" %}
      {% include 'browse/components/video-list.html' with videos=top_rankings|to_attr_list:"video" %}
    </section>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script>
  new Swiper('.swiper-container', {
    loop: true,
    autoplay: {
      delay: 7000,
    },
    pagination: {
      el: '.swiper-pagination',
    },
  })
  </script>
{% endblock %}
