<p>
  Altwugでツイッター連携でアカウントを作成した方は先にパスワードを設定してください。<br>
  パスワードの設定または変更用フォームは<a href="https://altwug.net/accounts/password/change/">こちら</a>
</p>
<p>
  また、ツクリガにすでに同名ユーザーが存在する場合はアカウントが引き継げません。<br>
  自身のアカウントである場合はプロフィールからアカウントを削除してからインポートしてください。<br>
</p>
<h3>引き継ぎ可能なデータ</h3>
<p>以下のデータが引き継がれます</p>
<ul>
  <li>表示名</li>
  <li>ユーザー名</li>
  <li>メールアドレス</li>
  <li>プロフィール文</li>
  <li>アイコン画像</li>
  <li>バナー画像</li>
  <li>獲得済みトロフィー</li>
</ul>
<p>以下のデータは引き継がれません</p>
<ul>
  <li>投稿済み動画(※)</li>
  <li>スター、いいねなどの評価、コメント</li>
  <li>フォロー、フォロワー</li>
</ul>
<p class="help">(※)動画のインポート用ページから個別にインポートが可能です</p>
