<template id="v-comment-item" v-cloak>
  <article class="media">
    <figure class="media-left">
      <p class="image is-48x48">
        <template v-if="comment.is_anonymous">
          <img :src="comment.profile_icon_url">
        </template>
        <template v-else>
          <a :href="'/u/' + comment.username">
            <img :src="comment.profile_icon_url">
          </a>
        </template>
      </p>
    </figure>
    <div class="media-content">
      <button
        class="delete is-pulled-right"
        @click="deleteComment"
        v-show="comment.is_mine"
      ></button>
      <div class="content">
        <p>
          <template v-if="comment.is_anonymous">
            <strong class="has-text-black">[[ comment.name ]]</strong>
          </template>
          <template v-else>
            <a :href="'/u/' + comment.username">
              <strong class="has-text-black">[[ comment.name ]]</strong>
              <small>@[[ comment.username ]]</small>
            </a>
            <i class="fas fa-check-circle has-text-info" title="スタッフ" v-if="comment.is_staff"></i>
          </template>
          <small>[[ comment.createdAt ]]</small>
          <br>
          <span v-html="comment.html"></span>
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <a
              class="icon is-small is-primary"
              @click="addReplyTarget"
            >
              <i class="fas fa-reply"></i>
            </a>
          </div>
          <div class="level-item" v-show="comment.is_mine">
            <a
              class="icon is-small has-text-info"
              :href="tweetHref"
              @click="tweetOnClick"
            >
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </article>
</template>
