<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for page in featured_pages %}
          <div class="swiper-slide">
            <a href="/pages/{{ page.slug }}">
              <figure class="image is-16by9">
                <img src="{{ page.ogp_image }}" alt="{{ page.title }}" class="is-safe-aspect">
              </figure>
              <div class="swiper-caption is-size-5">{{ page.title }}</div>
            </a>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
