{% load core_tags %}
<div class="video">
  <a href="/watch/{{ video.slug }}">
    <div class="video-thumbnail">
      <figure class="image is-16by9">
        <img
          class="video-thumbnail-image"
          src="{{ video.data.thumbnail.url|default:"https://placehold.it/640x360" }}"
          alt="{{ video.profile.title }}"
        >
      </figure>
      {% if not video.type == 'normal' %}
        <div class="video-thumbnail-display is-top">
          <span class="video-thumbnail-display-item is-{{ video.type }}" title="{{ video.get_type_display }}">
            <i class="{{ video.type_icon }}"></i>
          </span>
        </div>
      {% endif %}
      <div class="video-thumbnail-display is-bottom">
        <span class="video-thumbnail-display-item">{{ video.data.fps }}fps</span>
        <span class="video-thumbnail-display-item">{{ video.data.duration_str }}</span>
      </div>
    </div>
  </a>
  <div class="video-footer">
    <h3 class="video-title">
      <a href="/watch/{{ video.slug }}">
        {{ video.profile.title }}
      </a>
    </h3>
    <div class="video-user">
      <a href="/u/{{ video.user.username }}">{{ video.user.name }}</a>
    </div>
    <div class="vidmeo-footer-display has-text-right">
      {% if video.points_count > 10 %}
        <span class="tag is-warning">
          <i class="fas fa-star with-text"></i>{{ video.points_count|to_tight_count }}over
        </span>
      {% endif %}
      {% if video.favorites_count %}
        <span class="tag is-primary">
          <i class="fas fa-plus with-text"></i>{{ video.favorites_count }}
        </span>
      {% endif %}
    </div>
  </div>
</div>
