{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load bulma_tags %}

{% block page_title %}動画のアップロード{% endblock %}
{% block ogp_title %}動画のアップロード{% endblock %}

{% block head %}
  {% render_bundle 'upload/steps' %}
{% endblock %}

{% block header %}
  {% include 'upload/components/header.html' %}
{% endblock %}

{% block content %}
  <div class="column">
    {% include 'upload/components/process-list.html' %}
    <div class="box">
      <form class="submit-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bulma }}
        <button type="submit" class="button is-info">送信</button>
      </form>
      <a href="/upload/import">別の投稿サイトからインポートする</a>
    </div>
  </div>
{% endblock %}
