{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}


{% block page_title %}{% endblock %}
{% block ogp_title %}{% endblock %}
{% block description %}{% endblock %}
{% block ogp_description %}{% endblock %}
{% block ogp_image %}{% endblock %}
{% block ogp_twitter_creator %}{% endblock %}

{% block header %}
  {% include 'upload/components/header.html' %}
{% endblock %}

{% block content %}
  <div class="column">
    <section class="section">
      {% include 'upload/components/process-list.html' %}
      <div class="box">
        <form id="v-upload-form" method="post">
        </form>
      </div>
    </section>
  </div>
{% endblock %}

{% block scripts %}
  {% render_bundle 'upload/form' %}
{% endblock %}
