{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load bulma_tags %}

{% block page_title %}動画の再投稿{% endblock %}
{% block ogp_title %}動画の再投稿{% endblock %}

{% block head %}
  {% render_bundle 'upload/steps' %}
{% endblock %}

{% block header %}
  {% include 'upload/components/header.html' %}
{% endblock %}

{% block content %}
  <div class="column is-10-desktop">
    {% include 'upload/components/process-list.html' %}
    <div class="columns">
      <div class="column is-8">
        <div class="box">
          <form class="submit-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bulma }}
            <button type="submit" class="button is-info">再投稿</button>
          </form>
          <div class="help">再投稿ではインポート機能は利用できません</div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="content">
              <p><strong>再投稿について</strong></p>
              <ul>
                <li>再投稿を行った場合は既存の動画ファイルは削除され、新しいファイルで上書きされます</li>
                <li>投稿日が再投稿の時刻に上書きされ新着順に表示されるようになります</li>
                <li>再投稿後に操作を取り消すことは出来ません</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        {% include 'upload/components/common-message.html' %}
      </div>
    </div>
  </div>
{% endblock %}
