{% load core_tags %}
<article class="media">
  <figure class="media-left">
    <p class="image is-32x32">
      {% if notification.target.is_anonymous %}
        <img src="{{ notification.target.user_profile_icon_url }}">
      {% else%}
        <img src="{{ notification.sender_profile_icon_url }}">
      {% endif %}
    </p>
  </figure>
  <div class="media-content">
    {% if notification.is_new %}
      <span class="tag is-info is-rounded is-pulled-right">new!</span>
    {% endif %}
    <div class="content">
      {% include notification.component_path with target=notification.target %}
    </div>
    <small class="is-pulled-right">{{ notification.created_at|dt2str }}</small>
  </div>
</article>
