{% load core_tags %}
<article class="media">
  <figure class="media-left">
    <p class="image is-32x32">
      <img src="{{ notification.target.user.profile_icon.url }}" alt="{{ notification.target.user.name }}">
    </p>
  </figure>
  <div class="media-content">
    {% if notification.is_new %}
      <span class="tag is-info is-rounded is-pulled-right">new!</span>
    {% endif %}
    <div class="content">
      {% include notification.component_path with target=notification.target %}
    </div>
  </div>
</article>
