{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load core_tags %}

{% block page_title %}{{ video.profile.meta_title }}{% endblock %}
{% block ogp_page_title %}{{ video.profile.meta_title }}{% endblock %}
{% block description %}{{ video.profile.meta_description }}{% endblock %}
{% block ogp_description %}{{ video.profile.meta_description }}{% endblock %}
{% block ogp_image %}{{ video.data.thumbnail.url }}{% endblock %}
{% block ogp_twitter_creator %}
  {% if video.user.has_twitter_auth %}
    @{{ video.user.twitter_info.screen_name }}
  {% endif %}
{% endblock %}

{% block head %}
  {% render_bundle 'core/watch' %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="column">
    {% include 'core/components/video-player.html' %}
    <section class="section">
      <h1 class="title">{{ video.profile.title }}</h1>
      {% include 'core/components/video-menu.html' %}
      <hr>
      <div class="content">
        {% autoescape off %}
          {% if video.profile.description %}
            {{ video.profile.description|activate_url }}
          {% else %}
            動画説明はありません
          {% endif %}
        {% endautoescape %}
      </div>
      <hr>
    </section>
    {% include 'core/components/comment-form.html' %}
    <div class="section">
      {% include 'core/components/v-comment-list.html' %}
    </div>
  </div>
  <div class="column is-one-third">
    {% include 'users/components/avatar-card.html' with account=video.user %}
    <section class="section">
      {% include 'core/components/video-data.html' %}
    </section>
    <section class="section">
      <h3 class="subtitle">関連動画</h3>
      {% include 'browse/components/video-list.html' with videos=related_videos column_classes='is-half' %}
    </section>
  </div>
{% endblock %}
