{% load render_bundle from webpack_loader %}
{% load pwa %}
{% load core_tags %}
<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
  {% if DEBUG == False and not user.is_staff %}
    {% include 'base/components/analytics.html' %}
  {% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% block page_title %}{% endblock %} | ツクリガ -Tsukuriga-{% endblock %}</title>
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="icon" type="image/png" href="/assets/images/icon-192x192.png">
  <link rel="apple-touch-icon" type="image/png" href="/assets/images/apple-touch-icon-180x180.png">
  {% block meta %}
    <meta
      name="description"
      content="{% block description %}ツクリガ-Tsukuriga-は、自作アニメーション動画を投稿するサイトです。投稿された動画はコマ送りで一枚ずつ閲覧可能。投稿は数秒、ワンカットでもOK！{% endblock %}"
    />
    <meta
      property="og:title"
      content="{% block ogp_title %}{% block ogp_page_title %}{% endblock %} | ツクリガ -Tsukuriga-{% endblock %}"
    />
    <meta
      property="og:description"
      content="{% block ogp_description %}ツクリガ-Tsukuriga-は、自作アニメーション動画を投稿するサイトです。投稿された動画はコマ送りで一枚ずつ閲覧可能。投稿は数秒、ワンカットでもOK！{% endblock %}"
    />
    {% if request.get_full_path == '/' %}
      <meta property="og:type" content="website"/>
    {% else %}
      <meta property="og:type" content="article"/>
    {% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta
      property="og:image"
            content="{% block ogp_image %}{{ '/assets/images/ogp.png'|to_absolute_path }}{% endblock %}"
    />
    <meta name="twitter:card" content="{% block ogp_twitter_card %}summary_large_image{% endblock %}"/>
    <meta name="twitter:site" content="{% block ogp_twitter_site %}@ugo_compeito{% endblock %}"/>
    <meta name="twitter:creator" content="{% block ogp_twitter_creator %}@ugo_compeito{% endblock %}"/>
  {% endblock %}
  {% if request.GET.page == '1' %}
    <link rel="canonical" href="{{ request.path|add:queries|slice:":-1"|to_absolute_path }}">
  {% endif %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  {% if not is_ios %}
    {% progressive_web_app_meta %}
  {% endif %}
  {% block head %}{% endblock %}
  {% render_bundle 'base/app' %}
</head>
<body class="has-navbar-fixed-top has-navbar-fixed-bottom-touch" data-csrf="{{ csrf_token }}">
  {% include 'base/components/navbar-top.html' %}
  {% include 'base/components/navbar-bottom.html' %}
  {% include 'base/components/v-notify-container.html' %}
  {% block header %}{% endblock %}
  <div id="main-container">
    <div class="columns is-centered">
      {% block content %}
        {% block content_2col %}{% endblock %}
        <div class="submenu column is-3-desktop is-4-tablet">
          {% include 'base/components/submenu.html' %}
        </div>
      {% endblock %}
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        2019 ©COMPEITO
      </div>
    </div>
  </footer>
  {{ user.json|json_script:"userJson" }}
  {% block scripts %}{% endblock %}
</body>
</html>
