{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load bulma_tags %}

{% block page_title %}動画情報の編集{% endblock %}
{% block ogp_page_title %}動画情報の編集{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="column is-two-thirds">
    <div class="box">
      <form class="submit-form" method="post">
        {% csrf_token %}
        {{ form|bulma }}
        <button type="submit" class="button is-info">
          {% if video.is_active == False %}
            保存して公開
          {% else %}
            更新
          {% endif %}
        </button>
        <a href="/thumbnail/{{ video.slug }}" class="button is-primary">サムネイル編集</a>
        <button
          type="button"
          class="button is-danger is-pulled-right modal-opener"
          data-target="v-delete-modal"
        >削除する</button>
      </form>
    </div>
    {% include 'core/components/v-delete-modal.html' %}
  </div>
{% endblock %}

{% block scripts %}
  {% render_bundle 'core/edit' %}
{% endblock %}
