{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load bulma_tags %}

{% block page_title %}{% endblock %}
{% block ogp_page_title %}{% endblock %}
{% block description %}{% endblock %}
{% block ogp_description %}{% endblock %}
{% block ogp_image %}{% endblock %}
{% block ogp_twitter_creator %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="column is-two-thirds">
    <div class="box">
      <form class="submit-form" method="post">
        {% csrf_token %}
        {{ form|bulma }}
        <button type="submit" class="button is-info">送信</button>
        <button type="button" class="button is-danger modal-opener" data-target="v-delete-modal">削除する</button>
      </form>
    </div>
    {% include 'core/components/v-delete-modal.html' %}
  </div>
{% endblock %}

{% block scripts %}
  {% render_bundle 'core/edit' %}
{% endblock %}
