{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block page_title %}{% endblock %}
{% block ogp_page_title %}{% endblock %}
{% block description %}{% endblock %}
{% block ogp_description %}{% endblock %}
{% block ogp_image %}{% endblock %}
{% block ogp_twitter_creator %}{% endblock %}

{% block head %}
  {% render_bundle 'core/watch' %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="column is-two-thirds">
    <div class="box">
      {% include 'core/components/video.html' %}
      <p>サムネイルとして設定したいところで決定ボタンを押してください</p>
      <form method="post">
        {% csrf_token %}
        <input type="number" name="time" step="any" required id="id_time" style="display: none">
        <button type="button" class="button is-info" @click="submitThumbnail">決定</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% render_bundle 'core/edit-thumbnail' %}
{% endblock %}
