{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="robots" content="noindex, nofollow">
  <style>
    body {
      margin: 0
    }
  </style>
</head>
<body>
  {% include 'core/components/video-player.html' %}
  <a href="/watch/{{ video.slug }}">{{ video.profile.title }}</a>
  {% render_bundle 'core/embed' %}
</body>
</html>
