{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block page_title %}{% endblock %}
{% block ogp_page_title %}{% endblock %}
{% block description %}{% endblock %}
{% block ogp_description %}{% endblock %}
{% block ogp_image %}{% endblock %}
{% block ogp_twitter_creator %}{% endblock %}

{% block head %}
  {% render_bundle 'core/videojs-setup' %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="column">
    {% include 'core/components/video-player.html' %}
    <section class="section">
      {% include 'core/components/video-menu.html' %}
    </section>
  </div>
  <div class="column is-one-third">
    {% include 'users/components/avatar-card.html' with account=video.user %}
    <section class="section">
      {% include 'core/components/comment-form.html' %}
    </section>
    <section class="section">
      {% include 'core/components/v-comment-list.html' %}
    </section>
  </div>
  {% include 'core/components/point-modal-form.html' %}
{% endblock %}

{% block scripts %}
  {% render_bundle 'core/watch' %}
  {% render_bundle 'core/comments' %}
  {% render_bundle 'core/points' %}
{% endblock %}
