{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block page_title %}{% endblock %}
{% block ogp_page_title %}{% endblock %}
{% block description %}{% endblock %}
{% block ogp_description %}{% endblock %}
{% block ogp_image %}{% endblock %}
{% block ogp_twitter_creator %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="column">
    {% include 'core/components/video.html' %}
  </div>
{% endblock %}

{% block scripts %}
  {% render_bundle 'core/watch' %}
{% endblock %}
