<div class="message">
  <div class="message-header">
    <h3>同意の確認と諸注意</h3>
  </div>
  <div class="message-body">
    動画を投稿する際には事前に<a href="/pages/guide">ユーザーガイド</a>と<a href="/pages/term">利用規約</a>をよく読んでください。<br>
    これに同意した場合のみ動画を投稿することができ、違反行為が確認できた場合は予告なく動画を非公開、削除、またはアカウントの利用を停止することがあります。
  </div>
</div>
<div class="message is-danger">
  <div class="message-header">
    <h3>運営チームからのお願い</h3>
  </div>
  <div class="message-body">
    当サイトは個人運営のWebサービスのため、著作権侵害を始めとする問題を解決したり、問題が発生した際にユーザーを守る力が十分にありません。<br>
    サービスの一日でも長い継続のため、他者に迷惑をかけない範囲での利用にご協力下さい。
  </div>
</div>

