{% extends 'base.html' %}
{% load core_tags %}

{% block page_title %}{% endblock %}
{% block ogp_page_title %}{% endblock %}
{% block description %}{% endblock %}
{% block ogp_description %}{% endblock %}
{% block ogp_image %}{% endblock %}
{% block ogp_twitter_creator %}{% endblock %}

{% block content_2col %}
  <div class="column">
    {% include 'browse/components/search-form.html' %}
    {% if request.GET.q %}
      <p>検索結果:{{ videos|length }}件</p>
      <hr>
      {% include 'browse/components/video-list.html' %}
    {% endif %}
  </div>
{% endblock %}
