<template id="v-comment-item" v-cloak>
  <article class="media">
    <figure class="media-left">
      <p class="image is-48x48">
        <template v-if="comment.is_anonymous">
          <img :src="comment.profile_icon_url">
        </template>
        <template v-else>
          <a :href="'/u/' + comment.username">
            <img :src="comment.profile_icon_url">
          </a>
         </template>
      </p>
    </figure>
    <div class="media-content">
      <button
        class="delete is-pulled-right"
        @click="deleteComment"
        v-show="comment.is_mine"
      ></button>
      <div class="content">
        <p>
          <template v-if="comment.is_anonymous">
            <strong class="has-text-black">[[ comment.name ]]</strong>
          </template>
          <template v-else>
            <a :href="'/u/' + comment.username">
              <strong class="has-text-black">[[ comment.name ]]</strong>
              <small>@[[ comment.username ]]</small>
            </a>
          </template>
          <small>[[ comment.createdAt ]]</small>
          <br>
          [[ comment.text ]]
        </p>
      </div>
    </div>
  </article>
</template>
