{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load bulma_tags %}

{% block page_title %}完了！{% endblock %}
{% block ogp_title %}完了！{% endblock %}

{% block head %}
  {% render_bundle 'upload/steps' %}
{% endblock %}

{% block header %}
  {% include 'upload/components/header.html' %}
{% endblock %}

{% block content %}
  <div class="column">
    {% include 'upload/components/process-list.html' %}
    <div class="box">
      <h2 class="title">完了！</h2>
      <p>
        <a href="/watch/{{ video.slug }}">{{ video.profile.title }}のページリンク</a>
        (エンコード終了までしばらくお待ち下さい)
      </p>
      <div class="section">
        {% include 'base/components/tweet-button.html' with video=video %}
      </div>
    </div>
  </div>
{% endblock %}
