{% extends 'base.html' %}

{% block page_title %}{% endblock %}
{% block ogp_page_title %}{% endblock %}
{% block description %}{% endblock %}
{% block ogp_description %}{% endblock %}
{% block ogp_image %}{% endblock %}
{% block ogp_twitter_creator %}{% endblock %}

{% block header %}{% endblock %}

{% block content_2col %}
  <div class="column">
    <div class="box">
      {% for notification in notifications %}
        {% include 'notify/components/notification-item.html' %}
      {% endfor %}
    </div>
    {% include 'base/components/pagination.html' %}
  </div>
{% endblock %}
