@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~bulmaswatch/lux/variables";

$bulmaswatch-import-font: false;
$family-sans-serif: "Nunito", sans-serif;
$section-padding: 1.5rem 0.2rem;
$body-background-color: #eeeeee;
$tabs-link-active-color: #000;
$tabs-link-active-border-bottom-color: #000;
$purple: #8200ff;
$link: $purple;
$box-radius: 0;
$navbar-height: 3.0rem;
$navbar-item-color: white;
$navbar-item-hover-color: darken(white, 20%);

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";

$pink: #ffaea9;
// browse.models.Label.COLOR_SETへの変換用正規表現
// "(.+)":.+
// ('$1', '$1'),
$addColors: (
        "orange": ($orange, $orange-invert),
        "yellow": ($yellow, $yellow-invert),
        "green": ($green, $green-invert),
        "turqoise": ($turquoise, $turquoise-invert),
        "cyan": ($cyan, $cyan-invert),
        "blue": ($blue, $blue-invert),
        "purple": ($purple, $purple-invert),
        "red": ($red, $red-invert),
        "pink": ($pink, findColorInvert($pink)),
        "grey": ($grey, findColorInvert($grey)),
        "grey-light": ($grey-light, findColorInvert($grey-light)),
        "grey-lighter": ($grey-lighter, findColorInvert($grey-lighter)),
);
$colors: map-merge($colors, $addColors);

@import "~bulma/bulma";

@import "~bulmaswatch/lux/overrides";
@import "~bulma-switch/dist/css/bulma-switch";
@import "./overrides";
