{% load render_bundle from webpack_loader %}
{% render_bundle 'base/app' %}
<div class="markdownx columns" style="width: 100%!important;">
  <div class="column is-6">
    {% include 'django/forms/widgets/textarea.html' %}
  </div>
  <div class="column">
    <div class="markdownx-preview"></div>
    <script>
    setInterval(() => {
      for (el of document.querySelectorAll('blockquote')) {
        el.classList.add('twitter-tweet')
        twttr.widgets.load()
      }
    }, 100)
    </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
