{% extends 'base.html' %}
{% load core_tags %}

{% block page_title %}{{ page.title }}{% endblock %}
{% block ogp_page_title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block ogp_description %}{{ page.description }}{% endblock %}
{% block ogp_image %}{{ page.ogp_image }}{% endblock %}
{% block ogp_twitter_creator %}
  {% if page.author.has_twitter_auth %}
    @{{ page.author.twitter_info.screen_name }}
  {% endif %}
{% endblock %}

{% block header %}{% endblock %}

{% block content_2col %}
  <div class="column">
    <div class="box">
      <h1 class="title">{{ page.title }}</h1>
      <div class="subtitle">
        <div class="is-size-6">{{ page.created_at }}作成</div>
        <div class="is-size-7">{{ page.updated_at }}更新</div>
        {% if user.is_staff %}
          <a class="button is-small is-pulled-right" href="/admin/pages/page/{{ page.id }}/change/">編集</a>
        {% endif %}
      </div>
      <div class="content">
        {% autoescape off %}
          {{ page.body }}
        {% endautoescape %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/assets/embed.js"></script>
  <script>
  for (el of document.querySelectorAll('blockquote')) {
    el.classList.add('twitter-tweet')
  }
  </script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
