{% extends 'base.html' %}
{% load core_tags %}

{% block page_title %}{{ page.title }}{% endblock %}
{% block ogp_page_title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block ogp_description %}{{ page.description }}{% endblock %}
{% block ogp_image %}{{ page.ogp_image }}{% endblock %}
{% block ogp_twitter_creator %}@{{ page.author.username }}{% endblock %}

{% block header %}{% endblock %}

{% block content_2col %}
  <div class="column">
    <div class="box">
      <h1 class="title is-4">{{ page.title }}</h1>
      <div class="subtitle">
        <div class="is-size-6">{{ page.created_at }}作成</div>
        <div class="is-size-7">{{ page.updated_at }}更新</div>
        {% if user.is_staff %}
          <a class="button is-small is-pulled-right" href="/admin/pages/page/{{ page.id }}/change/">編集</a>
        {% endif %}
      </div>
      <div class="content">
        {% autoescape off %}
          {{ page.body }}
        {% endautoescape %}
      </div>
    </div>
  </div>
{% endblock %}
