{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load bulma_tags %}

{% block page_title %}プロフィールの編集{% endblock %}
{% block ogp_title %}プロフィールの編集{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="column is-two-thirds">
    <div class="box">
      <form class="submit-form" method="post">
        {% csrf_token %}
        {{ form|bulma }}
        <button type="submit" class="button is-info">更新</button>
        <button type="button" class="button is-danger modal-opener" data-target="v-unsubscribe-modal">削除する</button>
      </form>
    </div>
  </div>
  {% include 'users/components/v-unsubscribe-form.html' %}
{% endblock %}

{% block scripts %}
  {% render_bundle 'users/edit' %}
{% endblock %}
