{% extends 'base.html' %}

{% block page_title %}{% endblock %}
{% block ogp_title %}{% endblock %}
{% block description %}{% endblock %}
{% block ogp_description %}{% endblock %}
{% block ogp_image %}{% endblock %}
{% block ogp_twitter_creator %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="column is-one-quarter">
    {% include 'users/components/avatar-card.html' %}
  </div>
  <div class="column">
    {% include 'browse/components/video-list.html' with videos=account.videos %}
  </div>
{% endblock %}
