{% extends 'base.html' %}

{% block page_title %}{{ account.name }}@{{ account.username }}{% endblock %}
{% block ogp_title %}{{ account.name }}@{{ account.username }}{% endblock %}
{% block description %}{{ account.description }}{% endblock %}
{% block ogp_description %}{{ account.description }}{% endblock %}
{% block ogp_image %}{{ account.profile_icon_url }}{% endblock %}
{% block ogp_twitter_card %}summary{% endblock %}
{% block ogp_twitter_creator %}@{{ account.username }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="column is-one-quarter">
    {% include 'users/components/avatar-card.html' %}
  </div>
  <div class="column">
    <div class="tabs">
      <ul>
        {% for tab in tabs %}
          <li {% if tab.is_active %}class="is-active"{% endif %}><a href="{{ tab.href }}">{{ tab.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% include 'browse/components/video-list.html' %}
  </div>
{% endblock %}
