<nav class="navbar is-fixed-bottom" role="navigation">
  <div class="navbar-center">
    <a class="navbar-item is-expanded is-block has-text-centered" href="/">
      <i class="fas fa-home"></i>
      <p class="is-size-7">ホーム</p>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered" href="/browse">
      <i class="fas fa-search-plus"></i>
      <p class="is-size-7">探す</p>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered" href="/upload">
      <i class="fas fa-upload"></i>
      <p class="is-size-7">投稿</p>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered" href="/notify">
      <i class="fas fa-bell"></i>
      <p class="is-size-7">通知</p>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered" href="/u/{{ user.username }}">
      <i class="fas fa-cog"></i>
      <p class="is-size-7">設定</p>
    </a>
  </div>
</nav>
