<nav class="navbar is-fixed-bottom is-hidden-desktop" role="navigation">
  <div class="navbar-center">
    <a class="navbar-item is-expanded is-block has-text-centered" href="/">
      <i class="fas fa-home"></i>
      <p class="is-size-7">新着</p>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered" href="/upload">
      <i class="fas fa-upload"></i>
      <p class="is-size-7">投稿</p>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered {% if has_new_notification %}has-text-info{% endif %}"
       href="/notify">
      <i class="fas fa-bell"></i>
      <p class="is-size-7">通知</p>
    </a>
    {% if user.is_authenticated %}
      <a class="navbar-item is-expanded is-block has-text-centered" href="/u/{{ user.username }}">
        <i class="fas fa-user"></i>
        <p class="is-size-7">マイページ</p>
      </a>
    {% else %}
      <a class="navbar-item is-expanded is-block has-text-centered has-text-info" href="/account/login">
        <i class="fas fa-sign-in-alt"></i>
        <p class="is-size-7">ログイン</p>
      </a>
    {% endif %}
  </div>
</nav>
