<nav class="navbar has-shadow is-fixed-top is-hidden-touch" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://placehold.it/110x30" width="110" height="30">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item {% if has_new_notification %}has-text-info{% endif %}" href="/notify">
        <i class="fas fa-bell with-text"></i>
        通知
      </a>
      <a class="navbar-item has-text-white" href="/upload">
        <i class="fas fa-upload with-text"></i>
        アップロード
      </a>
      {% if user.is_authenticated %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <strong>@{{ user.username }}</strong>
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="/u/{{ user.username }}"><i class="fas fa-home"></i>マイページ</a>
            <a class="navbar-item" href="/account/logout"><i class="fas fa-sign-out-alt"></i>ログアウト</a>
            {% if user.is_staff %}
              <a class="navbar-item" href="/admin/"><i class="fas fa-hammer"></i>管理画面</a>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="navbar-item">
          <a class="button is-info" href="/account/login"><i class="fas fa-sign-in-alt with-text"></i></i>ログイン</a>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
