{% if page_obj.paginator.alt_page_range|length > 1 %}
  <nav class="pagination is-rounded is-centered" aria-label="pagination">
    {% if page_obj.has_previous %}
      <a class="pagination-previous" href="{{ queries }}page=1">
        <i class="fas fa-step-backward"></i>
      </a>
    {% endif %}

    <ul class="pagination-list">
      {% if page_obj.paginator.has_prev_dots %}
        <li><span class="pagination-link">&hellip;</span></li>
      {% endif %}

      {% for num in page_obj.paginator.alt_page_range %}
        <li>
          {% if page_obj.number == num %}
            <span class="pagination-link is-current">{{ num }}</span>
          {% else %}
            <a class="pagination-link" href="{{ queries }}page={{ num }}">{{ num }}</a>
          {% endif %}
        </li>
      {% endfor %}

      {% if page_obj.paginator.has_next_dots %}
        <li><span class="pagination-link">&hellip;</span></li>
      {% endif %}
    </ul>

    {% if page_obj.has_next %}
      <a class="pagination-next" href="{{ queries }}page={{ page_obj.paginator.num_pages }}">
        <i class="fas fa-step-forward"></i>
      </a>
    {% endif %}
  </nav>
{% endif %}
