{% include 'browse/components/search-form.html' %}
{% if submenu_message %}
  <aside class="box">
    <div class="content">
      {{ submenu_message | safe }}
    </div>
  </aside>
{% endif %}
<aside class="box menu">
  <p class="menu-label">お知らせ一覧</p>
  <ul class="menu-list">
    {% for page in latest_pages %}
      <li>
        <a href="/pages/{{ page.slug }}">
          {% if page.is_new %}
            <span class="tag is-info is-rounded">new!</span>
          {% endif %}
          {{ page.title }}
          <span class="is-size-7 is-pulled-right">{{ page.date_str }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
