{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% block page_title %}{% endblock %} - サイト名{% endblock %}</title>
  {% block meta %}
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta property="og:title"
          content="{% block ogp_title %}{% block ogp_page_title %}{% endblock %} - サイト名{% endblock %}">
    <meta property="og:description" content="{% block ogp_description %}{% endblock %}"/>
    {% if request.get_full_path == '/' %}
      <meta property="og:type" content="website"/>
    {% else %}
      <meta property="og:type" content="article"/>
    {% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    <meta property="og:image" content="{% block ogp_image %}http://placehold.it/600x600{% endblock %}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="{% block ogp_twitter_site %}@ugo_compeito{% endblock %}"/>
    <meta name="twitter:creator" content="{% block ogp_twitter_creator %}@ugo_compeito{% endblock %}"/>
  {% endblock %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  {% block head %}{% endblock %}
  {% render_bundle 'base/app' %}
</head>
<body class="has-navbar-fixed-top">
  {% include 'base/components/navbar.html' %}
  {% block header %}{% endblock %}
  <main class="section">
    <div class="container">
      <div class="columns is-centered">
        {% block content %}
          {% block content_2col %}{% endblock %}
          <div class="submenu column is-3">
            {% include 'base/components/submenu.html' %}
          </div>
        {% endblock %}
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        2019 ©COMPEITO
      </div>
    </div>
  </footer>
  {% for message in messages %}
    <div class="notyf-data" data-tags="{{ message.tags }}" data-message="{{ message }}"></div>
  {% endfor %}
  {% comment %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.1/lity.min.js"></script>
  {% endcomment %}
  {% block scripts %}{% endblock %}
</body>
</html>
