<template id="v-comment-item">
  <article class="media">
    <figure class="media-left">
      <p class="image is-48x48">
        <a :href="`/u/${comment.user.username}`">
          <img :src="comment.user.profile_icon">
        </a>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <a :href="`/u/${comment.user.username}`">
            <strong class="has-text-black">[[ comment.user.name ]]</strong>
            <small>@[[ comment.user.username ]]</small>
          </a>
          <small>[[ comment.createdAt ]]</small>
          <br>
          [[ comment.text ]]
        </p>
      </div>
    </div>
  </article>
</template>
