<div class="level is-mobile">
  <div class="level-left">
    <button id="prev-frame" type="button" class="button is-primary level-item"><</button>
    <button id="next-frame" type="button" class="button is-primary level-item">></button>
  </div>
  <div class="level-right">
    <div class="dropdown is-right is-hoverable level-item">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="video-dropdown-menu">
          <span class="icon"><i class="fas fa-ellipsis-h"></i></span>
        </button>
      </div>
      <div class="dropdown-menu" id="video-dropdown-menu" role="menu">
        <div class="dropdown-content">
          {% if video.user == request.user %}
            <a class="dropdown-item" href="/edit/{{ video.slug }}">
              <i class="fas fa-edit with-text"></i>
              動画情報の編集
            </a>
          {% endif %}
          {% comment %}
          <a class="dropdown-item" href="#">
            <i class="fas fa-flag with-text"></i>
            通報(未対応)
          </a>
          {% endcomment %}
        </div>
      </div>
    </div>
    <div class="level-item">
      {% include 'core/components/video-menu/point-button.html' %}
    </div>
    {% if user.is_authenticated %}
      <div class="level-item">
        {% include 'core/components/video-menu/v-favorite-button.html' %}
      </div>
    {% endif %}
    <div class="level-item">
      {% include 'base/components/tweet-button.html' %}
    </div>
  </div>
</div>
