<div class="level is-mobile">
  <div class="level-left">
    <button id="prev-frame" type="button" class="button is-primary level-item"><</button>
    <button id="next-frame" type="button" class="button is-primary level-item">></button>
  </div>
  <div class="level-right">
    <div class="dropdown is-hoverable level-item">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="video-dropdown-menu">
          <span class="icon"><i class="fas fa-ellipsis-h"></i></span>
        </button>
      </div>
      <div class="dropdown-menu" id="video-dropdown-menu" role="menu">
        <div class="dropdown-content">
          {% if video.user == request.user %}
            <a class="dropdown-item" href="/edit/{{ video.slug }}">
              <i class="fas fa-edit with-text"></i>
              動画情報の編集
            </a>
            <a class="dropdown-item" href="/upload/update/{{ video.slug }}">
              <i class="fas fa-sync-alt with-text"></i>
              動画ファイルの再投稿
            </a>
          {% endif %}
          {% if user.is_staff %}
            <a class="dropdown-item" href="/admin/upload/video/{{ video.id }}/change/">
              <i class="fas fa-hammer with-text"></i>
              管理画面へ
            </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="level-item">
      {% include 'core/components/video-menu/v-point-input.html' %}
    </div>
    {% if user.is_authenticated %}
      <div class="level-item">
        {% include 'core/components/video-menu/v-favorite-button.html' %}
      </div>
    {% endif %}
    <div class="level-item">
      {% include 'base/components/tweet-button.html' %}
    </div>
  </div>
</div>
