{% load core_tags %}
{% if video.profile.file %}
<div id="download-modal" class="modal">
  <div class="modal-background modal-closer"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">注意！</p>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <p>ツクリガでは添付ファイルのウイルスチェックを行っていません。ウイルス対策ソフトなどを起動したうえでダウンロードすることを推奨します。</p>
        <p>問題なければ、以下のボタンから[{{ video.profile.file.name|to_filename }}]をダウンロードしてください。</p>
        <a class="button is-primary" href="{{ video.profile.file.url }}" target="_blank">ダウンロード</a>
      </div>
    </section>
  </div>
</div>
{% endif %}
