{% load core_tags %}
<div class="card">
  <div class="card-image">
    <figure class="image is-3by1">
      <img class="is-safe-aspect" src="{{ account.profile_banner_url }}">
    </figure>
  </div>
  <div class="avatar card-content">
    <a href="/u/{{ account.username }}">
      <figure class="avatar-icon image is-96x96">
        <img class="is-rounded is-safe-aspect" src="{{ account.profile_icon_url }}">
      </figure>
    </a>
    <div class="avatar-name">
      {% if user == account %}
        <a href="/account/edit" class="is-pulled-right">
          <i class="fas fa-edit with-text"></i>編集
        </a>
      {% endif %}
      <h1><a href="/u/{{ account.username }}">{{ account.name }}</a></h1>
      <small><a href="/u/{{ account.username }}">@{{ account.username }}</a></small>
    </div>
    <div class="content">
      {% autoescape off %}
        <p>{{ account.description|activate_url|linebreaksbr }}</p>
      {% endautoescape %}
    </div>
    <div class="columns is-multiline is-mobile">
      {% for rel in account.trophyuserrelation_set.all %}
        <div class="column is-narrow">
          <figure
            class="image is-32x32 tooltipRef"
            data-tooltip="「{{ rel.trophy.title }}」{{ rel.trophy.description }}"
          >
            <object data="{{ rel.trophy.file.url }}"></object>
          </figure>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
