@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~bulmaswatch/lux/variables";

$bulmaswatch-import-font: false;
$family-sans-serif: "Nunito", sans-serif;
$section-padding: 1.5rem 0.2rem;
$body-background-color: #eeeeee;
$tabs-link-active-color: #000;
$tabs-link-active-border-bottom-color: #000;
$purple: #8200ff;
$link: $purple;
$box-radius: 0;
$navbar-height: 4rem;

@import "~bulma/bulma";
@import "~bulmaswatch/lux/overrides";
@import "overrides";
