@import "./bulma";
@import "./common";
@import "./video";
@import "./avatar";
@import "./tooltip";

#main-container {
  @extend .container;
  margin-top: 20px;
  margin-bottom: 20px;
}

#notify-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  @include desktop() {
    top: $navbar-height;
  }
}

.markdownx-editor {
  width: 100% !important;
}

[v-cloak] {
  display: none;
}

i.with-text {
  padding-right: 5px;
}

.is-safe-aspect {
  object-fit: cover;
  background-color: $black;
}
