@import "./utils";
@import "./bulma/styles";
@import "./scss/styles";

#main-container {
  @extend .container;
  margin-top: 20px;
  margin-bottom: 20px;
}

#notify-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  @include desktop() {
    top: $navbar-height;
  }
}

.markdownx-editor {
  width: 100% !important;
}

// adminでのMarkdownプレビュー用
form .aligned ul li {
  list-style: disc;
}

[v-cloak] {
  display: none;
}

i.with-text {
  padding-right: 0.2rem;
}

.is-safe-aspect {
  object-fit: cover;
  background-color: $black;
}

// pages以下でリンクアンカーがnavbarに隠れないようにする
h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
  &:target {
    @include desktop() {
      display: block;
      padding-top: $navbar-height;
      margin-top: -$navbar-height;
    }
  }
}
