@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import "~bulmaswatch/lux/variables";

$bulmaswatch-import-font: false;
$family-sans-serif: "Nunito", sans-serif;
$body-background-color: #eeeeee;
$section-padding: 1.5rem 0.2rem;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;
$box-radius: 0;
$navbar-height: 4rem;

@import "~bulma/bulma";
@import "~bulmaswatch/lux/overrides";

textarea[rows] {
  resize: none;
}

.box {
  word-wrap: break-word;
}

// ナビゲーションバー下に陰をつける
.navbar.has-shadow {
  box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
}

@mixin flex() {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.video {

  .video-thumbnail {
    position: relative;

    .video-thumbnail-image {
      object-fit: contain;
      background-color: $black;
      box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    }

    .video-thumbnail-display {
      display: none;
    }

    &:hover {
      .video-thumbnail-display {
        @include flex;
        position: absolute;
        right: 2px;
        bottom: 8px;

        .video-thumbnail-display-item {
          margin-left: 5px;
          padding: 2px 3px;
          background-color: black;
          color: #eeeeee;
          opacity: 0.8;
          border-radius: 0.3rem;
        }
      }
    }
  }
}

.navbar-center {
  @extend .navbar-brand;
  flex-grow: 1;
  justify-content: center;
}

.avatar {
  position: relative;

  .avatar-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid white;
  }

  .avatar-name {
    margin-top: 27px;
    margin-bottom: 10px;

    h1 {
      font-weight: bold;

      a {
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

hr {
  margin-top: 0.5rem;
  background-color: #cccccc;
}

.markdownx-editor {
  width: 100% !important;
}

[v-cloak] {
  display: none;
}

i.with-text {
  padding-right: 5px;
}
