<div class="content">
  <p>
    次の形式に対応しています。<br>
    インポートには各サービスの認証が必要です。詳細は<a href="/pages/guide#import">ユーザーガイド</a>へ
  </p>
  <div class="table-container">
    <table class="table is-hoverable is-narrow">
      <thead>
      <tr>
        <th>URL</th>
        <th>認証状況</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>https://twitter.com/{screen_name}/status/{tweet_id}</td>
        <td><i class="fas fa-{% if user.has_twitter_auth %}check{% else %}times{% endif %}"></i></td>
      </tr>
      <tr>
        <td>https://altwug.net/watch/{video_id}/</td>
        <td><i class="fas fa-{% if user.has_altwug_auth %}check{% else %}times{% endif %}"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
